#include <dt-bindings/zmk/input_transform.h>
#include <dt-bindings/zmk/mouse.h>

&vtrackball {
    input-processors = <&scroll_mapper>;
};

/ {
    scroll_mapper: scroll_mapper {
        compatible = "zmk,input-processor-code-mapper";
        #input-processor-cells = <0>;
        /* Xを横スクロールに、Yを縦スクロールに変換 */
        map = <INPUT_REL_X INPUT_REL_HWHEEL>, <INPUT_REL_Y INPUT_REL_WHEEL>;
    };
};
