#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>
#include "zephyr/dt-bindings/zmk/input_behavior_listener.h"

#define BINDING_LIMIT 0
#define SCROLL_SIZE 10
#define SCROLL_SPEED 100

/ {
    behaviors {
        scroll_behavior: scroll_behavior {
            compatible = "zmk,behavior-input-two-axis";
            #binding-cells = <1>;
            x-input-code = <INPUT_REL_HWHEEL>;
            y-input-code = <INPUT_REL_WHEEL>;
            time-to-max-speed-ms = <100>;
            acceleration-exponent = <1>;
        };
    };

    /* cool642tbの標準的なデバイス名「trackball」に修正 */
    tb_scroll_listener: tb_scroll_listener {
        compatible = "zmk,input-behavior-listener";
        device = <&trackball>;
        layers = <0>;
        bindings = <&scroll_behavior SCROLL_SPEED>;
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &kp Q &kp W &kp E &kp R &kp T    &kp Y &kp U &kp I &kp O &kp P
                &kp A &kp S &kp D &kp F &kp G    &kp H &kp J &kp K &kp L &kp SEMI
                &kp Z &kp X &kp C &kp V &kp B    &kp N &kp M &kp COMMA &kp DOT &kp FSLH
                &none &none &kp LCTRL &kp LSHFT &kp SPACE &none &none &none
            >;
        };
    };
};
